<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    .bg-pink {
      background-color: rgb(255, 255, 255);
    }

    .cate-menu .active {
      color: #e91e63;
      border-bottom: 2px solid #e91e63;
    }

    body {
      background-color: #eee;
    }
  </style>
  <title>restaruant Single Page</title>
</head>

<body>
  <!-- Part 1 Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-pink">
    <a class="navbar-brand text-danger" href="/food">Restaruant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="navbar navbar-light bg-pink ml-lg-auto mx-md-0 px-md-0">
        <form class="form-inline">
          <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item active">
          <a class="nav-link text-danger" href="#">Food <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">Comment</a>
        </li>
        <li class=" ml-lg-5 nav-item ">
          <a class="nav-link text-danger" href="#"><i class="fas fa-users"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Part 2 Banner -->
  <div class="container-fluid p-0 mt-2 bg-white" style=" box-shadow: 3px 3px 5px 6px #aaa;">
    <div class="row">
      <div class="col-8" style="font-size: 0;">
        <iframe width="100%" height="450" src="{{restaruant.yourtube_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-4">
        <div class="pt-5 px-4">
          <h2>{{restaruant.name}}</h2>
          <p>Rating: {{( restaruant.total_score / restaruant.score_number) | number_format(1,'.',',')}}</p>
          <p>Location: Somewhere</p>
          <p>Daily sells: Some number</p>
          <p>Date of Open: {{restaruant.data}}</p>
          <p>Type:
            {% set genres = restaruant.genre | split(',') %}
            {% for ge in genres %}
            <a class="mr-2" href="/food/genre/get/{{ge}}">{{categories[ge]}}</a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Part 3 Descriptin -->
  <div class="container-fluid my-5">
    <div class="row my-3 mx-4 cate-menu">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row text-secondary text-center" style="border-bottom: 1px solid #ccc; line-height: 2.4rem;">
            {% for id, name in categories %}
            <div class="col-lg-1 col-md-2">
              <a href="/food/genre/get/{{id}}">{{name}}</a>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

    <div class="row mx-4 px-4 my-5 text-secondary">
      <h6 mb-3>Description:</h6>
      <span class="ml-4 text-justify">
        {{restaruant.description}}
      </span>
    </div>
  </div>
  <!-- Part 4 Comment -->
  <div class="container-fluid">
    <div class="row my-3 mx-4 cate-menu">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row text-secondary" style="border-bottom: 1px solid #ccc; line-height: 2.4rem;">
            <div class="col-2 active text-center">
              Comments
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Part 4.2 -->
    <div class="row">
      <div class="form-inline my-5 mx-auto">
        <textarea id="comment_input" class="form-control rounded-0 border-primary" style="width: 50vw;" placeholder="Add comments..." rows="5"></textarea>
        <button id="comment_submit" class="btn btn-primary ml-3 px-4 rounded-0 align-self-end" data-id="{{restaruant.id}}">
          Submit
        </button>
      </div>
    </div>
    <div class="mx-auto text-center w-25" id="result-info"></div>


    <div class="row">
      <div class="container text-primary text-justify" id="all-comments">
        {% if comments == false  %}
        <div class="row my-4">
          No Comments for this restaruant yet.
        </div>
        {% else %}
        {% for comment in comments %}
        <div class="row my-4">
          <div class="col-1">
            <i class="fas fa-user fa-2x"></i>
          </div>
          <div class="col-11">
            <h5>Name</h5>
            <small>
              {{comment.content}}
            </small>
          </div>
        </div>
        {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/food/js/bootstrap.bundle.min.js"></script>
  <script src="/moive2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/9499696e71.js" crossorigin="anonymous"></script>
  <script>
    $('#comment_submit').on('click', function() {
      var m_id = ($(this).data('id'));
      var content = $('#comment_input').val();
      $('#comment_input').val('');
      $.post(
        '/food/comment/submit', {
          "mid": m_id,
          "content": content
        },
        function(data) {
          if (data.code == 200) {
            $('#result-info').html(
              '<div class="alert alert-success" role="alert">\n' +
              data.message +
              '</div>'
            );
            $('#all-comments').prepend(
              `<div class="row my-4">
            <div class="col-1">
            <i class="fas fa-user fa-2x"></i>
          </div>
          <div class="col-11">
            <h5>Name</h5>
            <small>
              ` + content + `
            </small>
          </div>
        </div>`
            )
          } else {
            $('#result-info').html('<div class="alert alert-warning" role="alert">\n' +
              data.message +
              '</div>'
            );
          }
        },
        "json"
      )
    })
  </script>
</body>

</html>